* {
  padding: 0;
  margin: 0;
  /*  border-radius: 10px;*/
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav {
  font-size: 11pt;
  font-weight: 900;
  width: 99vw;
  height: 140px;
  box-sizing: border-box;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.absolute {
  position: absolute;
}

.logo {
  width: 200px;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.kop {
  height: 1000px;
  /*white: 99vw;*/
  background-position: right;
  background-repeat: no-repeat;
  background-image: url("img/backgroundimg.png");
  background-size: 55vw;
}

.backgroundimg {
  position: absolute;
}

.li {
  border: blue 5px;
  padding: 30px;
}

.welkom {
  margin-left: 50px;
  font-size: 100px;
  padding: 30px;
  width: 500px;
}

.koptekst {
  margin: 50px;
  font-size: 20px;
  padding: 30px;
  width: 400px;
}

.login {
  position: absolute;
  margin: 10px;
  float: right;
  font-size: 20px;
  top: 60vh;
  padding: 30px;
  width: 500px;
  right: 30vw;
  background-color: #d7f4ff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}

.login > input {
  border: none;
  padding: 10px 200px 10px 10px;
  margin: 10px;
}

.login > label {
  padding: 10px;
}

.login > p {
  padding: 10px;
  font-size: 40px;
}

.contact {
  width: 100%;
  height: 278px;
  padding-bottom: 50px;
  background-color: #d7f4ff;
  margin-top: 20px;
}

.contact > h4 {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 22pt;
  padding-top: 40px;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact-details > div {
  padding-top: 150px;
  width: 33vw;
  padding-left: 50px;
}

.flexall {
  display: flex;
  flex-wrap: wrap;
}

.flexall2 {
  display: flex;
}

.sectorgroep_kop {
  padding: 20px;
  width: 100vw;
}

.blue {
  color: #015d82;
}

.sectorgroep_tussen {
  margin-left: 9vw;

  background-color: #d7f4ff;
}

.sectorgroep_profiel {
  margin: 10px;
  box-shadow: 5px 5px 10px gray;
  width: 15vw;
}

.sectorgroep_profieltekst {
  padding: 10px;
}

.samenwerking_kop {
  margin: 40px;
  margin-left: 140px;
}

.samenwerking_stuk {
  background-color: #d7f4ff;
  font-size: 25px;
  padding: 20px 0px 200px 20px;
  margin: 40px;
  width: 100vw;
}

.samenwerking_stukpap {
  width: 80vw;
  margin-left: 100px;
}

.samenwerking_tekst {
  margin-top: 40px;
  font-size: 20px;
}

.keuzendelen_tekst {
  margin: 40px;
  margin-left: 140px;
  width: 35vw;
  margin-bottom: 50vh;
}

.keuzendelen_img {
  position: absolute;
  right: 30px;
  top: 200px;
}

.instellingen_profiel {
  overflow: hidden;
  object-fit: fill;
  width: 25vw;
  height: 20vw;
}

.left {
  margin-left: 130px;
}

.sectorgroep_profiel {
  margin: 10px;
  box-shadow: 5px 5px 10px gray;
  width: 50vw;
}

.economie_vol {
  width: 80vw;
  margin-top: 30px;
}
